/* navbar */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    padding: 0 5%;
    color: white;
    z-index: 100;
}

.dropdown {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 75px;
    left: 0;
    z-index: 1000;
    padding: 0 7%;
    width: 100vw;
    height: calc(100vh - 75px);
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    background-color: #242424;
}

.dropdown > .links {
    margin-block: 2em;
    text-align: center;
}

@media only screen and (min-width: 850px) {
    .navbar {
        padding: 0 10%;
    }
}

/*region navIcon */
.navIcon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
    width: 20px;
    cursor: pointer;
    background: none;
    border: none;
}
.navIcon > span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: white;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}
.navIcon > span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}
.navIcon > span:nth-child(odd) {
    left: 0;
    border-radius: 9px 0 0 9px;
}
.navIcon > span:nth-child(1),
.navIcon > span:nth-child(2) {
    top: 0;
}
.navIcon > span:nth-child(3),
.navIcon > span:nth-child(4) {
    top: 50%;
    transform: translateY(-50%);
}
.navIcon > span:nth-child(5),
.navIcon > span:nth-child(6) {
    bottom: 0;
}
.navIcon.open span:nth-child(1),
.navIcon.open span:nth-child(6) {
    transform: rotate(45deg);
}
.navIcon.open span:nth-child(2),
.navIcon.open span:nth-child(5) {
    transform: rotate(-45deg);
}
.navIcon.open span:nth-child(1) {
    left: 2px;
    top: 3px;
}
.navIcon.open span:nth-child(2) {
    left: calc(50% - 1px);
    top: 3px;
}
.navIcon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}
.navIcon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}
.navIcon.open span:nth-child(5) {
    left: 2px;
    bottom: 3px;
}
.navIcon.open span:nth-child(6) {
    left: calc(50% - 1px);
    bottom: 3px;
}
/*endregion*/

.links {
    display: flex;
    gap: 2em;
}

.links > a {
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.4s ease-in-out;
}

.links > a:hover {
    border-bottom: 1px solid white;
}
