/* navbar */
.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    padding: 0 5%;
    color: white;
    z-index: 100;
}

@media only screen and (min-width: 850px) {
    .navbar {
        padding: 0 10%;
    }
}

.navIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 19px;
    width: 20px;
    cursor: pointer;
}

.navIcon > div {
    background-color: #C4C4C4;
    height: 3px;
    width: 100%;
}

.links {
    display: flex;
    flex-direction: row;
}

.links > a {
    border-bottom: 1px solid transparent;
    margin-right: 30px;
    transition: border-bottom-color 0.4s ease-in-out;
}

.links > a:hover {
    border-bottom: 1px solid white;
}
