.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #242424;
    padding: 35px 5% 50px 5%;
    color: white;
    z-index: 500;
}

.section1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.section2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: 2em;
    gap: 2em;
}

.section2 > div {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.title {
    font-weight: bold;
    margin-bottom: 15px;
}

@media only screen and (min-width: 850px) {
    .footer {
        flex-direction: row;
        padding: 35px 10% 100px 10%;
    }
    .section2 {
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
    }
}
