html,
body {
    scroll-behavior: smooth;
    overflow: overlay;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: rgb(206, 205, 205);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: Montserrat, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 59px;
    margin: 0;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.1875rem;
    font-weight: 700;
    margin: 0;
}

h4 {
    font-family: Montserrat, sans-serif;
    font-size: 1.5625rem;
    font-weight: 500;
    margin: 0;
}

h5 {
    font-family: Montserrat, sans-serif;
    font-size: 1.125rem;
    font-weight: normal;
    margin: 0;
}

h6 {
    font-family: Montserrat, sans-serif;
    font-size: 0.9375rem;
    font-weight: normal;
    margin: 0;
}
