html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: Montserrat, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 59px;
    margin: 0;
}

h3 {
    font-family: Montserrat, sans-serif;
    font-size: 2.1875rem;
    font-weight: bold;
    margin: 0;
}

h4 {
    font-family: Montserrat, sans-serif;
    font-size: 1.5625rem;
    font-weight: normal;
    margin: 0;
}

h5 {
    font-family: Montserrat, sans-serif;
    font-size: 1.125rem;
    font-weight: normal;
    margin: 0;
}

h6 {
    font-family: Montserrat, sans-serif;
    font-size: 0.9375rem;
    font-weight: normal;
    margin: 0;
}
