.quarterTiles {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #242424;
    overflow: hidden;
    padding: 5vh 5%;
    color: white;
    grid-row-gap: 10vh;
}

.tile {
    position: relative;
    width: 100%;
}

.tile h2 {
    font-size: 2.1875rem;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

.tile :is(h2, p, a) {
    position: relative;
    z-index: 50;
}

.tile p {
    font-size: 1.25rem;
    max-width: 325px;
}

.tile :is(.slide1, .slide2, .slide3, .slide4) {
    position: absolute;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    top: 0;
    right: -495px;
    width: 500px;
    height: 100%;
}

/*region slides*/
.slide1 {
    background: linear-gradient(268.37deg, #28ff8b 78.04%, #4153fa 118.47%);
}

.slide2 {
    background: linear-gradient(269.81deg, #3649fc -14.41%, #b235ff 100.56%);
}

.slide3 {
    background: linear-gradient(270.04deg, #ff62d3 22.07%, #ffad4d 100.69%);
    transition: all 0.6s ease-in-out;
}

.slide4 {
    background: linear-gradient(270.12deg, #0fd4ff -9.68%, #2069d7 100.62%);
    transition: all 0.6s ease-in-out;
}
/*endregion*/
.statsContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    padding: 3rem 5%;
    z-index: 50;
    background-color: white;
}
.stats {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: 1fr 1fr;
}

.stats > div {
    display: grid;
    flex-direction: column;
}

.cloudServices {
    overflow-x: hidden;
    position: relative;
    z-index: 40;
    color: white;
    background-color: #242424;
}

.csBarWrapper {
    position: absolute;
    height: 250px;
    width: 100%;
    z-index: 30;
}

.csColourBar1 {
    position: absolute;
    z-index: 20;
    height: 500px;
    width: 120%;
    right: -10%;
    bottom: 0;
    background: linear-gradient(90deg, #46a9bf 1.8%, #2de07f 94.76%);
    transform: rotate(4.7deg); /* -85 */
}

.csColourBar2 {
    position: absolute;
    z-index: 10;
    height: 500px;
    width: 120%;
    left: -10%;
    bottom: 0;
    background: linear-gradient(90deg, #2de07f -7.72%, #46a9bf 62.81%);
    transform: rotate(-2.03deg); /* -91.73 */
}

.csTextWrapper {
    position: relative;
    z-index: 40;
    padding: 5em 5%;
    max-width: 36rem;
}

.splitCard {
    position: relative;
    margin: -30px auto 30px auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 5%;
    width: 100%;
    min-width: 100px;
    z-index: 100;
}

.splitCard :is(.implementingSaas, .decahedraCloud) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.splitCard :is(.implementingSaas, .decahedraCloud) > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.3em;
    height: 100%;
}

.implementingSaas {
    background-color: white;
    color: black;
    border-left: solid 1px #242424;
    border-right: solid 1px #242424;
    border-bottom: solid 1px #242424;
}

.decahedraCloud {
    background-color: #242424;
    color: white;
    border-right: none;
    border-top: none;
}

:is(.implementingSaas, .decahedraCloud) > div > h6 {
    max-width: 230px;
}

.infoBlocks {
    display: grid;
    margin: 6em auto;
    grid-template-columns: 1fr;
    width: 90%;
    gap: 2em;
}

.infoBlocks h6 {
    margin-block: 2.5em;
    max-width: 400px;
}

.infoBlocks > :last-child {
    display: flex;
    flex-direction: column;
    justify-self: flex-flex-start;
    width: fit-content;
    text-align: left;
}

.infoBlocks > :last-child > a {
    align-self: flex-flex-start;
    font-weight: bold;
}

.section5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5em;
    padding: 2rem 5%;
    color: white;
    background-color: #242424;
}

.section5 > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.products {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10%;
    justify-content: center;
    align-items: center;
}

.products > div {
    display: grid;
    text-align: center;
    margin-block: 3em;
    grid-template-columns: 1fr;
    gap: 3em;
}

.products > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

@media only screen and (min-width: 1100px) {
    .products {
        display: block;
        margin-top: -2em;
    }
    .products > div {
        gap: 1em;
        grid-template-columns: 30ch 30ch 30ch;
        text-align: initial;
    }
    .products > div > div {
        align-items: flex-start;
    }
}
@media only screen and (min-width: 850px) {
    .quarterTiles {
        grid-template-columns: 1fr 1fr;
        padding: 7rem 12%;
        grid-row-gap: 22vh;
    }
    .tile :is(.slide1, .slide2) {
        top: calc(-12rem - 100%);
        left: 55%;
        width: 500px;
        min-height: 300px;
        height: calc(140% + 40px);
        transform: rotate(-36deg);
    }
    .tile > :first-child {
        cursor: pointer;
    }
    .tile :is(.slide3, .slide4) {
        top: unset;
        right: unset;
        left: -100%;
        bottom: calc(-6rem - 100%);
        transform: rotate(-36deg);
        width: 500px;
        min-height: 300px;
        height: calc(140%);
    }
    .tile h2 {
        color: white;
        -webkit-background-clip: initial;
        -webkit-text-fill-color: initial;
        font-size: 3rem;
    }
    .tile {
        margin: 0 auto;
        max-width: 50ch;
    }
    .slide1 {
        background: linear-gradient(270.04deg, #28ff8b 22.07%, #4153fa 100.69%);
    }

    .slide2 {
        background: linear-gradient(269.81deg, #3649fc -14.41%, #b235ff 100.56%);
    }

    .slide3 {
        background: linear-gradient(270.04deg, #ff62d3 22.07%, #ffad4d 100.69%);
        transition: all 0.6s ease-in-out;
    }

    .slide4 {
        background: linear-gradient(270.12deg, #0fd4ff -9.68%, #2069d7 100.62%);
        transition: all 0.6s ease-in-out;
    }
    .statsContainer {
        padding: 7rem 10%;
        grid-template-columns: 1fr 1fr;
    }
    .csTextWrapper {
        padding: 7rem 0 7em 10%;
    }
    .splitCard {
        grid-template-columns: 1fr 1fr;
        margin: -30px auto 0 auto;
        padding: 0;
        width: 80%; /* 60% */
        min-width: 800px;
    }
    .implementingSaas {
        border-right: none;
    }
    .decahedraCloud {
        border-right: solid 1px white;
        border-top: solid 1px white;
    }
    .infoBlocks {
        grid-template-columns: 1fr 1fr;
        width: 80%; /* 60% */
    }
    .infoBlocks > :last-child {
        justify-self: end;
        text-align: right;
    }
    .infoBlocks > :last-child > a {
        align-self: end;
    }
    .section5 {
        padding: 5em 10%;
        grid-gap: 20em;
        grid-template-columns: 1fr 1fr;
    }
    .section5 > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5em;
    }
}
