.quarterTiles {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40ch, 50%));
    background-color: #242424;
    padding: 5vh 5%;
    color: white;
    row-gap: 10vh;
}

@media only screen and (min-width: 850px) {
    .quarterTiles {
        padding: 7rem 12%;
        row-gap: 22vh;
    }
}

.tile {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40ch;
    margin: 0 auto;
    cursor: pointer;
}

.tile :is(h2, p, a) {
    position: relative;
    z-index: 50;
}

.tile > p {
    font-size: 20px;
    max-width: 325px;
}

.tile > a {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    width: fit-content;
    border-bottom: solid 1px transparent;
    transition: all 0.4s ease-in-out;
}

.tile > a:hover {
    border-bottom: solid 1px white;
}

.tile > div {
    position: absolute;
    z-index: 10;
    transition: all 0.5s ease-in-out;
}

.tile :is(.slide1, .slide2) {
    top: calc(-8rem - 100%);
    left: 60%;
    width: 500px;
    min-height: 300px;
    height: calc(140% + 40px);
}

.tile :is(.slide3, .slide4) {
    left: -125%;
    bottom: calc(-8rem - 100%);
    width: 500px;
    min-height: 300px;
    height: calc(140% + 40px);
}

.slide1 {
    background: linear-gradient(270.04deg, #28ff8b 22.07%, #4153fa 100.69%);
}

.slide2 {
    background: linear-gradient(269.81deg, #3649fc -14.41%, #b235ff 100.56%);
}

.slide3 {
    background: linear-gradient(270.04deg, #ff62d3 22.07%, #ffad4d 100.69%);
    transition: all 0.6s ease-in-out;
}

.slide4 {
    background: linear-gradient(270.12deg, #0fd4ff -9.68%, #2069d7 100.62%);
    transition: all 0.6s ease-in-out;
}

.stats {
    position: relative;
    z-index: 50;
    height: 500px;
    background-color: white;
}
